<ion-view>
  <ion-nav-title class="light">
    Account Settings
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light" ng-click="saveSettings()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <div class="card">
      <ion-list>
        <label class="item item-input">
          <span class="input-label"><b>User ID</b></span>
          <input type="text" ng-model="user.username">
        </label>
        <label class="item item-input">
          <span class="input-label"><b>Password</b></span>
          <input type="password" ng-model="user.password">
        </label>
        <label class="item item-input">
          <span class="input-label"><b>IP address or URL</b></span>
          <input type="text" ng-model="user.server">
        </label>
        <label class="item item-input">
          <span class="input-label"><b>Extension Number</b></span>
          <input type="text" ng-model="user.extension">
        </label>
      </ion-list>
    </div>
  </ion-content>
</ion-view>


