<ion-view>
  <ion-nav-title class="light">
    App Settings
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light" ng-click="saveSettings()">
      Save
    </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">


    <div class="card list">
      <label class="item item-input item-stacked-label">
        <span class="input-label" style="color: black">Survey URL</span>
        <input type="text" placeholder="" ng-model="survey.URL">
      </label>
    </div>


    <!--<div class="list card">-->
      <!--<li class="item item-input-inset item-select">-->
        <!--<div class="input-label">-->
          <!--VoIP Services-->
        <!--</div>-->
        <!--<select ng-options="item.label for item in items-->
            <!--track by item.id"-->
                <!--ng-model="selectedItem">-->

        <!--</select>-->
      <!--</li>-->
    <!--</div>-->

    <!--<div class="list card">-->
      <!--<li class="item item-input-inset item-select">-->
        <!--<div class="input-label">-->
          <!--Sites-->
        <!--</div>-->
        <!--<select ng-options="site.siteName for site in sites-->
            <!--track by site.id"-->
                <!--ng-model="selectedSite">-->

        <!--</select>-->
      <!--</li>-->
    <!--</div>-->
  </ion-content>
</ion-view>
