<ion-view hide-nav-bar="true">
  <ion-content class="login-background" has-bouncing="false">
    <div>
      <form ng-submit="login(user,pw,ip, enableHTTPS)">
        <div class="list list-inset list-borderless" style="background:none;">
          <div class="item item-avatar" style="background:none;">
            <img src="./img/logo.png" style="top:38px;">
            <h1 style="color:white;">SMARTLobby</h1>
          </div>
          <label class="item item-input item-stacked-label">
            <span class="input-label">User Name</span>
            <input type="text" placeholder="user name" ng-model="user">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">Password</span>
            <input type="password" placeholder="password" ng-model="pw">
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label">URL</span>
            <input type="text" placeholder="IP address or url" ng-model="ip">
          </label>
          <ion-toggle class="item-stacked-label" ng-model="enableHTTPS.checked">
            <span>Enable HTTPS</span>
          </ion-toggle>
          <div class="padding">
            <button type="submit"
                    class="button button-block icon-left ion-log-in">
              Login
            </button>
          </div>
        </div>
        <div class="list list-inset" ng-show="validation.msg">
          <label class="item item-input " ng-class="validation.col">
            {{validation.msg}}
          </label>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>

