<ion-view view-title="Meeting Detail">
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-telephone-outline" ng-click="call(meetingDetail.hostNumber)">
    </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">

    <div style="height: 42%;">
      <div class="card roomDetail-card">
        <div class="item item-text-wrap">
          <h1>{{meetingDetail.companyName}}</h1>
          <p>{{meetingDetail.location}}</p>
          <p>Hosted by {{meetingDetail.meetingHost}}</p>
          <p>{{meetingDetail.meetingDate}}</p>
        </div>
      </div>
      <img ng-src={{meetingDetail.roomImage}} class="room-img"/>
    </div>

    <div class="item item-body">
    <i class="button button-icon icon ion-document-text">&nbsp;&nbsp;Subject</i>
      <p>
    {{meetingDetail.meetingSubject}}
      </p>
    </div>

    <ion-scroll style="height: 130px;" class="available-attendees-height">
      <a class="item item-avatar visitor-info" href="#" ng-repeat="visitor in meetingDetail.attendees" ng-click="updateStatus(visitor)">
        <img ng-src={{visitor.img}}>
        <h2>{{visitor.name}}</h2>
        <p>{{visitor.companyName}}</p>
         <span class="visitor-status"
               ng-style="{'background-color': getVisitorStatus(visitor)}"/>
        </span>
      </a>
    </ion-scroll>

  </ion-content>
</ion-view>

