<ion-view view-title="Dashboard">
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light"
            ng-click="toggleMode()">
      {{mode}}
    </button>
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <div class="list">
      <div class="card" ng-show="mode === 'Emergency'">
        <div class="item item-divider">
          <i class="icon ion-ios-timer divider-icon-left">
            <span class="divider-title">Timer</span>
          </i>
          <button class="button button-small button-dark" style="float: right;" ng-click="stopTimer()">
            Stop
          </button>
        </div>
        <div class="item item-text-wrap">
          <!-- Timer -->
          <div class="avgWaitTimeClock">
          </div>
        </div>
      </div>
      <div class="card">
        <div class="item item-divider">
          <i class="icon ion-ios-people divider-icon-left">
            <span class="divider-title">Visitors</span>
          </i>
        </div>
        <div class="item item-text-wrap">
          <!-- Ionic Grid -->
          <div class ="row">
            <div class ="col" ng-show="mode === 'Normal'">
              <div class="row">
                    <h1 style="width: 100%; text-align: center;">150</h1>
              </div>
              <div class="row">
                    <h3 style="width: 100%; text-align: center;">Checked-in</h3>
              </div>
            </div>
            <div class ="col">
              <div class="row">
                <h1 style="width: 100%; text-align: center;">80</h1>
              </div>
              <div class="row">
                <h3 style="width: 100%; text-align: center;">In-building</h3>
              </div>
            </div>
            <div class ="col">
              <div class="row">
                   <h1 style="width: 100%; text-align: center;">15</h1>
              </div>
              <div class="row">
                    <h3 style="width: 100%; text-align: center;">Hosts</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" ng-show="mode === 'Emergency'">
        <div class="item item-divider">
          <i class="icon ion-pie-graph divider-icon-left">
            <span class="divider-title">Contact Statuses</span>
          </i>
        </div>

        <div class="item item-text-wrap">
          <canvas id="pieChart" height="350" pie-chart-component></canvas>
        </div>
      </div>
      <div class="card" ng-show="mode === 'Normal'">
        <div class="item item-divider">
          <i class="icon ion-stats-bars divider-icon-left">
            <span class="divider-title">NexLabs Singapore</span>
          </i>
        </div>

        <div class="item item-text-wrap">
          <canvas id="comboChart" height="350" combo-chart-component></canvas>
        </div>
      </div>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>

