<ion-view view-title="Visitors">
  <ion-nav-buttons side="left">
    <button class="button button-icon icon ion-android-more-vertical" ng-click="popover.show($event)">
    </button>
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-outline button-light"
            ng-click="toggleMode()">
      {{mode}}
    </button>
  </ion-nav-buttons>

  <ion-content has-bouncing="false">
    <ion-list can-swipe="true" swipe-direction="both">

      <div ng-repeat="group in groups">
        <div class="item divider-height"
             ng-class="{active: group.isShown}">

          <div visitor-divider-component></div>
        </div>

        <ion-item class="item-icon-right visitor-info"
                  type="item-text-wrap"
                  ng-repeat="visitor in group.visitors"
                  ng-click="goToItem(visitor.meetingID)"
                  ng-show="group.isShown">
          <div click-to-reveal-option-component class="div-click-content"></div>

          <div visitor-component></div>

          <ion-option-button class="button option-button ion-option-button-background-color" side="left">
            <ion-checkbox class="ion-option-checkbox checkbox-dark" ng-model="visitor.isChecked">
            </ion-checkbox>
          </ion-option-button>

          <ion-option-button class="button-dark option-button" side="right"
                             ng-click="call(visitor)">
            <i class="icon ion-ios-telephone-outline"></i>
            <span>Call</span>
          </ion-option-button>
          <ion-option-button class="button-positive option-button" side="right"
                             ng-click="voip(visitor)">
            <i class="icon ion-social-whatsapp-outline"></i>
            <span>VoIP</span>
          </ion-option-button>
          <ion-option-button class="button-royal option-button" side="right"
                             ng-click="checkout(visitor)">
            <i class="icon ion-log-out" style="right: 30px;"></i>
            <span>Checkout</span>
          </ion-option-button>

        </ion-item>
      </div>
    </ion-list>


    <div ng-if="!groups[0].visitors.length" class="no-results">
      <p>{{searchResult}}</p>
    </div>
  </ion-content>
</ion-view>

<script id="templates/popover.html" type="text/ng-template">
  <ion-popover-view>
    <ion-content>
      <div class="list">
        <ion-checkbox class="checkbox-dark" ng-repeat="filter in filters"
                      ng-model="filter.isChecked">
          {{ filter.status }}
      </div>
    </ion-content>
  </ion-popover-view>
</script>

<script id="templates/voip-popup.html" type="text/ng-template">
  <div class="list-borderless">
    <ion-list>
      <ion-radio ng-repeat="voipService in voipServices"
                 ng-value="voipService.type"
                 ng-model="defaultVoIPService.type">
        {{ voipService.type }}
      </ion-radio>
    </ion-list>
  </div>
</script>



