<ion-view view-title="Agent">
  <ion-nav-buttons side="right">
    <!--<button class="button button-outline button-light"-->
            <!--ng-click="toggleMode()" style="background-color: #FF4500;">-->
      <!--{{mode}}-->
    <!--</button>-->
  </ion-nav-buttons>
  <ion-content has-bouncing="false">
    <div class="list">
      <div class="card">
        <div class="item item-divider">
          {{surveyStatus}}
        </div>
        <div class="list card" style="margin-left: 20px;">
          <li class="item item-input-inset item-select">
            <div class="input-label">
              User State
            </div>
            <select
              ng-style="{'background-color': statusColor}"
              ng-init="selectedUserState"
              ng-options="userState.label for userState in userStates"
              ng-model="selectedUserState"
              ng-change="onSelectUserStateChange(selectedUserState)">
            </select>
          </li>
        </div>
      </div>
      <div class="card padding">
        <button ng-click="answerCall()"
                class="button button-block icon-left ion-android-call button-dark">
          Answer Call
        </button>
        <button ng-click="endCall()"
                class="button button-block icon-left ion-android-call button-dark">
          End Call
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>

