<div>
    <ion-header-bar class="bar-dark">
      <h1 class="title">Updating visitor status</h1>
      <button class="button button-outline button-light"
              ng-click="closeStatusModal()">
        Close
      </button>
    </ion-header-bar>
    <ion-content has-bouncing="false">
      <div class="list">
        <ion-radio ng-repeat="contactStatus in contactStatuses"
                   ng-value="contactStatus.status"
                   ng-model="defaultContactStatus.status">
          {{ contactStatus.status }}
        </ion-radio>
        <div class="item item-input-inset item-dark">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Remarks">
          </label>
          <button class="button button-small button-outline button-light" ng-click="updateVisitorStatus(contactStatus.isChecked)">
            Update
          </button>
        </div>
      </div>
    </ion-content>
</div>

