<div ng-click="toggleGroup(group)" >
  <button class="divider-left-icon button button-icon icon" ng-class="group.isShown ? 'ion-ios-minus' : 'ion-ios-plus'">
  </button>
  <span class="divider-title">{{group.name}}</span>
</div>

<!--<button class="button button-icon icon ion-iphone" style="position: absolute; right: 90px; bottom: -2px;" ng-click="callHost()">-->
<!--</button>-->

<!--<button class="button button-icon icon ion-chatboxes" style="position: absolute; right: 50px; bottom: -2px;" ng-click="bulkMessage()">-->
<!--</button>-->

<button class="button button-icon icon ion-compose" style="position: absolute; right: 10px; bottom: -2px;" ng-click="updateAllVisitorsStatuses()">
</button>
