<div class="item item-divider">
  <i class="icon ion-ios-people divider-icon-left">
    <span class="divider-title">Visitors</span>
  </i>
</div>
<div class="item item-text-wrap">
  <!-- Ionic Grid -->
  <div class ="row">
    <div class ="col" ng-show="mode === 'Normal'">
      <div class="row">
        <h1 style="width: 100%; text-align: center;">150</h1>
      </div>
      <div class="row">
        <h3 style="width: 100%; text-align: center;">Checked-in</h3>
      </div>
    </div>
    <div class ="col">
      <div class="row">
        <h1 style="width: 100%; text-align: center;">80</h1>
      </div>
      <div class="row">
        <h3 style="width: 100%; text-align: center;">In-building</h3>
      </div>
    </div>
    <div class ="col">
      <div class="row">
        <h1 style="width: 100%; text-align: center;">15</h1>
      </div>
      <div class="row">
        <h3 style="width: 100%; text-align: center;">Hosts</h3>
      </div>
    </div>
  </div>
</div>
