/** Custom Google Font for App */
body {
  font-family: 'Oxygen', sans-serif;
}

/** Remove iOS scrollbar indicator */
.scroll-bar-indicator {
  display: none !important;
}

/* Overwrite android ionic-filter-bar border-bottom */
.platform-android .filter-bar .filter-bar-positive .item-input-wrapper {
  border-bottom: 1px solid white;
  background: #387ef5;
}

.bar-positive {
  background-image: none !important;
}

.bar.bar-assertive  {
  background-color: #FF0000;
}

.tabs-assertive > .tabs {
  background-color: #FF0000;
}

.login-background {
  background-color: #4b8bf4;
}

.option-button span {
  margin-top: 46px;
}

.item-stacked-label span {
  color: white;
}

.visitor-status {
  /*display: block;*/
  /*position: absolute;*/
  /*left: 15px;*/
  /*top: 60px;*/
  /*width: 40px;*/
  /*height: 4px;*/
  /*border-radius: 5px;*/

  /** visitor status without avatar **/
  display: block;
  position: absolute;
  left: 5px;
  top: 20px;
  width: 4px;
  height: 80px;
  border-radius: 5px;
}

.visitor-info p {
  font-size: 0.73em;
}

.roomDetail-card {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  width: 54%;
  margin: 0px;
}

.roomDetail-card .item {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
}

.roomDetail-card .item p, .roomDetail-card .item h1 {
  color: white;
}

.roomDetail-card .item-text-wrap {
  padding-left: 10px;
  padding-right: 10px;
}

.roomDetail-card .item h1 {
  font-size: 1.8em;
}

.room-img {
  width: 100%;
  height: 240px;
}

.no-results {
  color: gray;
  font-size: 24px;
  padding: 50px;
  text-align: center;
  font-weight: bold;
}

.div-click-content {
  position: absolute;
  top: 0px;
  width: 200px;
  height: 120px;
}

.ion-option-button-background-color {
  background-color: #CCCCCC;
}

.ion-option-checkbox {
  position: absolute;
  left: 0px;
  top: 30px;
  border: 0px;
  background-color: transparent;
}

/** Set radio check mark on left */
.item-radio .item-content{
  padding-left: 64px !important;
  padding-right: 16px !important;
}

.item-radio .radio-icon {
  left:0 !important;
}

/** Overwrite default radio button checkmark with custom design */
.radio-icon{ visibility: visible !important;}

.radio-icon:before {
  content:"" !important;
  border:2px solid #0c60ee !important;
  width: 24px !important;
  height: 24px !important;
  border-radius: 50% !important;
  overflow:hidden !important;
}

.radio-icon:after {
  left:0 !important;
  content:"" !important;
  position: absolute !important;
  right: 20px !important;
  top: 22px !important;
  left: 20px !important;;
  background:#0c60ee !important;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50% !important;
  overflow:hidden !important;

  transition: -webkit-transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  transition: transform .28s cubic-bezier(0.420, 0.000, 0.000, 1.650);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.item-radio input:checked + .radio-content .radio-icon:after {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/** Overwrite default popover height */
.popover  {
  height: 240px;
}


/** Visitors list divider */
.divider-title {
  position: absolute; left: 40px; bottom: 15px;  font-size: 20px; cursor: pointer;
}

.divider-left-icon {
  position: absolute; bottom: 0px; left: 0px;
}

.divider-height {
  height: 8vh;
}

/** Grouping reservations */
.list .item.item-accordion {
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item.item-accordion.ng-hide {
  line-height: 0px;
}

.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

