/** Custom Google Font for App */
body {
  /*font-family: 'Oxygen', sans-serif;*/
}

/** Remove iOS scrollbar indicator */
.scroll-bar-indicator {
  display: none !important;
}

.my-background {
  background-color: #444444;
}

.survey-status {
  background-color: #444444;
  color: white;
}

/** iFrame Content */
ion-content div.scroll {
  height: 90%;
}

.webPage {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.iframe-wrapper iframe {
  width: 100%;
  height: 100%;
}

